<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.egelke.android.eid"
    android:versionCode="99"
    android:versionName="99" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".EidSuiteApp">
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".view.ViewActivity"
            android:icon="@drawable/ic_launcher_v"
            android:label="@string/title_activity_view" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SignActivity"
            android:icon="@drawable/ic_launcher_s"
            android:theme="@style/AppThemeAlt"
            android:label="@string/title_activity_sign"
            android:taskAffinity="net.egelke.android.eid.view.SignActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/AppThemeAlt"
            android:name=".view.AuthActivity"
            android:icon="@drawable/ic_launcher_a"
            android:label="@string/title_activity_auth"
            android:taskAffinity="net.egelke.android.eid.view.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- From http://www.belgium.be/nl/online_dienst/ -->
                <data android:scheme="https" android:host="www.taxonweb.be"  android:pathPrefix="/" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.PinActivity"
            android:label="@string/title_activity_pin"
            android:theme="@style/AppDialogTheme"
            android:taskAffinity="net.egelke.android.eid.view.PinActivity">
        </activity>
        <activity
            android:name=".view.PinPadActivity"
            android:label="@string/title_activity_pinpad"
            android:theme="@style/AppDialogTheme"
            android:taskAffinity="net.egelke.android.eid.view.PinActivity">
        </activity>
        <activity android:name=".view.SettingsActivity"
            android:taskAffinity="net.egelke.android.eid.view.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".EidService" >
        </service>
    </application>

</manifest>
